/*
Colors used:
Primary Color (Scarlet): #d7381a;
Secondary Color (Warm Grey): #625857;
*/
img {
  width: 100%;
}

body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
  /* background: #e3cebd; */
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

a {
  color: #d63314;
  text-decoration: none; /* No underlining */
}

/* a:visited {  */
/* visited link */
  /* color: #df6442;
} */

/* a:active {  */
  /* selected link */
  /* color: #994c30; */
/* } */

a:hover,
a:focus {
  color: #a62417;
  text-decoration: underline; /* Underlining when hovering over a link */
}


.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #d63314;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30; /* width of the border, type, color */
  transition: 0.2s opacity;
}


.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
  color: #ffffff;
}

.button.contact {
  background-color: transparent;
  color: #d63314;
  text-transform: uppercase;
  border: 2px solid #d63314;
}

.button.contact:hover {
  background-color: #d63314;
  color: #ffffff;
}



/* Layout styling */

* {
  box-sizing: border-box;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}


.center {
  text-align: center;
}

.logo {
  max-width: 250px;
  /* display: inline-block; */
}

header {
  background-color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 2px 8px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 2px 8px 0px rgba(50, 50, 50, 0.5);
}


main {
  padding-top: 133px;
}

#hero {
  /* background-color: #ffe4c4; */
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

nav{
  display: inline-block;
  /* width: 100%; */
}
nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  /* font-weight: 700; */
  color: #4a4a4a;
}

/* nav > ul > li > a:visited.
nav > ul > li > a:active.
nav > ul > li > a:hover. */
