/*
Colors used:
Primary Color (Scarlet): #d7381a;
Secondary Color (Warm Grey): #625857;
*/
img {
  width: 100%;
}

body {
  /* background-color: #ffffff; */
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
  background-color:#fdfdFd;
  /* background: #e3cebd; */
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.25em;
  font-weight: 700;
}

h2 {
  font-size: 2em;
  font-weight: 700;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
  margin: 0;
}

h5 {
  font-size: 1em;
  font-weight: 600;
  margin: 0;
}

ul p{
  margin-top: 0;
  margin-bottom: 10px;
}

a {
  color: #4a4a4a;
  text-decoration: none; /* No underlining */
}

/* a:visited {  */
/* visited link */
  /* color: #df6442;
} */

/* a:active {  */
  /* selected link */
  /* color: #994c30; */
/* } */

a:hover,
a:focus {
  /* color: #a62417; */
  /* text-decoration: underline; */
  /* Underlining when hovering over a link */
}


.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #d63314;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30; /* width of the border, type, color */
  transition: 1s opacity;
}


.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
  color: #ffffff;
}




.button.contact {
  background-color: transparent;
  color: #d63314;
  text-transform: uppercase;
  border: 2px solid #d63314;
}

.button.contact:hover {
  /* background-color: #d63314; */
  color: #ffffff;
}



/* Layout styling */

* {
  box-sizing: border-box;
}

.container {
  padding: 0 15px;
}




.center {
  text-align: center;
}

.logo {
  max-width: 250px;
  display: inline-block;
}

header {
  background-color: white;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 2px 8px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 2px 8px 0px rgba(50, 50, 50, 0.5);
  z-index: 1;
}


main {
  padding-top: 133px;
}

#hero {
  /* background-color: #ffe4c4; */
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

nav{
  display: inline-block;
  width: 100%;
}
nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}



nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  /* font-weight: 700; */
  color: #4a4a4a;
}

.navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:last-child {
  display: none;
}
/* nav > ul > li > a:visited.
nav > ul > li > a:active.
nav > ul > li > a:hover. */


#work-section{
  width : 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.project-wrapper{
  width : 50%;
  padding: 12px;
  position: relative;
}
.project-wrapper-wide{
  width : 100%;
  margin: 12px;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  /* min-height:800px; */
  /* height: 100%; */
  height: 44vw;
  color: black;
  -webkit-transition: all .3s ease; /* Safari and Chrome */
  -moz-transition: all .3s ease; /* Firefox */
  -ms-transition: all .3s ease; /* IE 9 */
  -o-transition: all .3s ease; /* Opera */
  transition: all .3s ease;
  /* border: 2px solid lime; */
  /* background: url(/img/5.png)repeat 0 0; */
  /* max-width: 100%; */
}
.project-wrapper-wide:hover{
  color: white;
}


.project-wrapper-wide .overlay-text{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.project-wrapper-wide .overlay-text-has-bg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  text-align: center;
  background-color: #eeeeee;
  width: 100%;
  opacity: 0.9;
  /* max-width: 100%; */
}

.project-wrapper-wide .overlay-text-has-bg:hover{
  color: white;
  background-color: #19121c;
  /* max-width: 100%; */
}

#vrdvcover {
  /* position: relative; */
}

#vrdvcover img{
  border-radius: 25px;
  position: absolute;
  max-width: 100%;
  height:100%;
  -webkit-transition: all .5s ease; /* Safari and Chrome */
  -moz-transition: all .5s ease; /* Firefox */
  -ms-transition: all .5s ease; /* IE 9 */
  -o-transition: all .5s ease; /* Opera */
  transition: all .5s ease;
}

.vr-top:hover {
  opacity:0;
}





.project-content{
  /* color: #4a; */
  border: none;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  background-color: #eeeeee;
  transition: 0.3s;
  border-radius: 25px;
}

.project-content h3{
  font-size: 1.8em;
  margin-block-start:0;
  margin-block-end:0;
}


.project-content:hover{
  color: white;
}

.project-text{
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* #coffeechatcover {
  background-color: #eeeeee;
  transition: 0.3s;
  border-radius: 10px;
} */

#coffeechatcover:hover {
  background-color: #FFA014;
}

#ccmcover:hover {
  background-color: #ae39f2;
}

#kitchencover:hover {
  background-color: #74a30e;
}

#qhcover:hover {
  background-color: #40434c;
}

#researchcover:hover {
  background-color: #0b5bff;
  /* background-color: #fec52e; */
}

#debutcover:hover {
  /* background-color: #FF0000; */
  background-color: #BB1515;
}






.row {
  margin: 0; /* 25px top and bottom, 0 left and right */
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.col-1-2 {
  flex-basis: 50%;
  padding: 10px;
  align-items:center;
}



.col-4-10 {
  flex-basis: 40%;
  padding: 10px;
  align-items:center;
}

.col-6-10 {
  flex-basis: 60%;
  padding: 10px;
  align-items:center;
}




#headshot{
  max-width: 34%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
}

#headshot > picture > img {
  border-radius: 50%;
}

#my-story, #skills-tools, .introduction, .paragraph, .hmw{
  width: 66%;
  margin-left: auto;
  margin-right: auto;
}





.about-title{
  text-align: center;
}

.flex-ul-3{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  padding-bottom: 60px;
  justify-content: space-between;
}

.flex-ul-3 li{
  flex-basis: 30%;
}

.flex-ul-3 li .number{
  text-align: center;
  color:#8E6D61;
  font-size: 2.5em;
  margin: 0 auto;
}

.flex-ul-4{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
}

.flex-ul-4 li{
  flex-basis: 22%;
}



.hmw_section{
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;
}
.hmw h3{
  line-height: 2.0;
}

#hori{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  /* background-color: yellow; */
}
#hori li{
  flex-basis: 33%;
  padding-left: 10px;
  padding-right: 10px;
}

#vert{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  display: none;
  /* background-color: yellow; */
}

.resume{
  margin: 0 auto;
  text-align: center;
}


.title, .section-title, .section-subtitle{
  margin: 0 auto;
  text-align: center;
}

/* .section-title{
  padding-top: 60px;
} */

.small-hero-img{
  width: 66%;
  margin-left: auto;
  margin-right: auto;
}

/* .quote{

} */

.col-1-3{
  flex-basis: 33%;
  align-items:center;
}

.col-1-3 picture{
  /* max-height: 80%; */
  margin-left: auto;
  margin-right: auto;

}

.col-2-3{
  flex-basis: 67%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.col-2-3 picture{
  margin: 0 auto;
  padding-left: 4%;
  padding-right: 4%;
}

.row-non-equal{
  margin: 0; /* 25px top and bottom, 0 left and right */
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}





.col-1-4{
  flex-basis: 22%;
  align-items:center;
}

.col-3-4{
  flex-basis: 72%;
  align-items:center;
}

.key-feature{
  width: 66%;
  margin-left: auto;
  margin-right: auto;
}

.feature-description{
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: center;
  /* padding-top: 10%; */
  /* max-width: 40%; */
  margin-left: auto;
  margin-right: auto;
}

.feature-pic{
  /* max-width: 40%; */
}

.solution {
  margin-top: 120px;
  margin-bottom: 120px;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
}

.key-feature-wrapper{
  padding: 30px;
}
section {
  margin-top: 120px;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}
.objective{
  padding-bottom: 30px;
}
.subsection{
  width:92%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 90px;
}

.footer-title{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.contact-btn{
  text-align: center;
}
.contact-btn a svg{
  width:50px;
  margin: 0 20px;
}
footer{
  width:100%;
  display: block;
}


.berlin-illustration{
  width: 100%;
  max-width:100%;
  height: auto
}

@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}


.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.prototype-container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.clickable{
  width: 100%;
  /* width: 1080px; */
  height: 720px;

  /* position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none; */

}
/* .svg { width:100%; } */

/* .sub-title h3{
  margin-bottom: 10px;
} */

/* .paragraph{
  width: 92%;
  margin-left: auto;
  margin-right: auto;
} */
/* ==============================
Small screens up to 640px
================================= */
@media only screen and (max-width: 640px) {

  main{
      /* background-color: yellow; */
    padding-top: 88px;
  }

  header {
    /* text-align: unset; */
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    /* margin-top: 4px; */
  }



  nav > ul {
    margin: 0;
  }

  .navtoggle li:not(:last-child) {
    display: none;
  }
  .navtoggle li:last-child {
    display: inline-block;
  }
  .navtoggle, .navtoggle.responsive {
    position: relative;
  }
  .navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    /* font-size: 20px; */
    color: black;
  }
  .navtoggle.responsive li  {
    display: block;
  }

  .navtoggle.responsive nav {
    padding: 24px 0 0;
  }
  .navtoggle.responsive li  {
    display: block;
    padding: 10px 0;
    border-top: 1px solid rgba(255,127,80,0.5);
  }

  .navtoggle.responsive li:last-child  {
    padding: 0 0 10px;
  }

  body{
    font-weight: 200;
    font-size: 12px;
    /* background-color: green; */
  }

  section {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .project-info h3{
    text-align: center;
  }
  .col-1-2-cg {
    flex-basis: 50%;
    padding: 10px;
    align-items:center;
  }
  .subsection{
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .sub-title, .subsub-title{
    text-align: center;
  }



  /* .section-title{
    text-align: left;
    width:92%;
  } */

  #hero .container h1 {
    font-weight: 200;
    font-size: 17px;
    /* background-color: green; */
  }

  .logo{
      margin: 0 auto;
      /* display: inline-block; */
      max-width: 150px;
      /* padding: 10px 0 4px; */
  }

  .row {
    /* width: 92%; */
    width:100%;
    flex-direction: column;
  }


  .column-1-2 {
    flex-basis: 100%;
    padding: 10px;
  }


  #my-story, #skills-tools, .introduction, .paragraph, .hmw{
    width: 92%;
  }

  #hori{
    display:none;
  }
  #vert{
    display: block;
  }

  .prototype_container{
    display: none;
  }

  .flex-ul-3{
    flex-direction: column;
    padding-bottom: 30px;
  }

  .flex-ul-4{
    flex-direction: column;
  }

  .flex-ul-4 li{
    padding-bottom: 10px;
  }

  .hmw{
    font-size: 0.75em;
    padding: 10px;

  }

  .hmw_section{
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .small-hero-img{
    width: 100%;
  }

  .hmw h3{
    line-height: 1.4;
  }

  .solution{
    width:92%;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .row-non-equal{
    flex-direction: column;
  }

  .feature-description{
    order:-1;
  }

  .section-subtitle{
    text-align: center;
  }
}






/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) and (max-width: 1024px){
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    /* margin-top: 4px; */
  }

  nav > ul > li {
    display: inline-block;
  }

  main{
    /* background-color: yellow; */
    padding-top: 99px;
  }

  section {
    margin-top: 90px;
    margin-bottom: 90px;
  }
  .col-1-2-cg {
    flex-basis: 50%;
    padding: 10px;
    align-items: flex-start;
    justify-content: center;
  }
  .subsection{
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .row {
    width: 100%;
  }
  .row-non-equal{
    flex-direction: column;
  }

  .flex-ul-4{
    flex-direction: column;
  }

  .flex-ul-4 li{
    padding-bottom: 20px;
  }

  #my-story, #skills-tools, .introduction, .paragraph, .hmw{
    width: 92%;
  }

  #hori{
    display:none;
  }
  #vert{
    display: block;
  }

  .sub-title, .subsub-title{
    text-align: center;
  }

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 18px; /* Sets the font size to 16px */
  }
  #hero span {
    display: block;
  }
  .container {
    padding: 0 10%;
    /* max-width: 1200px; */
  }
  .container h1 {
    font-weight: 400;
  }

  #hero {
    /* background-color: #ffe4c4; */
    padding: 30px 0 100px 0;
  }

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    /* margin-top: 4px; */
  }

  nav > ul > li {
    display: inline-block;
  }

  main{
    /* background-color: yellow; */
    padding-top: 99px;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  body {
    font-size: 20px; /* Sets the font size to 16px */
  }
  #hero span {
    display: block;
  }

}
