/*
Colors used:
*/
.container{
  margin: 0 120px;
}
.case-study-container{
  margin: 0 120px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.hero-flex{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero-text{
  width: 50%;
}
.hero-img{
  width: 50%;
  padding: 64px;
  padding-right: 0;
  padding-left: 128px;
  display: flex;
  justify-content: flex-end;
}


#additional_text{
  display:  inline;
}

img {
  width: 100%;
}

.hero-img img{
  max-width: 92%;
}

strong{
  font-weight: 700;
}

.cover-img-top{
  /*padding-top:72px;*/
  /* padding-bottom:36px; */
  display: flex;
  align-items: center;
}
b{
  font-weight: 600;
}

hr{
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    margin-top: 32px;
    margin-bottom: 32px;
}


body {
  /* background-color: #ffffff; */
  font-family: 'Open Sans', sans-serif;
  font-size: 14px; /* Sets the font size to 16px */
  font-weight: 400; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
  background-color:#fdfdFd;
  /* background: #e3cebd; */
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.25em;
  font-weight: 700;
}

h2 {
  font-size: 2em;
  font-weight: 600;
  margin-bottom:50px;
  margin-top: 16px;
}

.project-info h2 {
  margin-bottom:0px;
}

#hero  h2 {
  font-size: 2em;
  font-weight: 600;
  margin-bottom:20px;
}

#work-section{
  line-height: 1.6;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom:10px;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
  margin: 0;
}

h5 {
  font-size: 1em;
  font-weight: 600;
  margin: 0;
}

ul p{
  margin-top: 0;
  margin-bottom: 10px;
}

a {
  color: #4a4a4a;
  text-decoration: none; /* No underlining */
}


span a{
  font-weight: 500;
}
/*
h2 a,
h2 a:after,
h2 a:before {
  transition: all .2s;
}


span a,
span a:after,
span a:before {
  transition: all .2s;
}*/

h2 a{
  position: relative;
}

span a{
  position: relative;
}
/*h2 a:after{
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 4px;
}

span a:after{
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 4px;
}*/

/*span a:hover:after {
  width: 100%;
}

h2 a:hover:after {
  width: 100%;
}

h3 a,
h3 a:after,
h3 a:before {
  transition: all .2s;
}

h3 a{
  position: relative;
}*/

/*h3 a:after{
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 4px;
}*/

/*h3 a:hover:after {
  width: 100%;
}*/

/* a:visited {  */
/* visited link */
  /* color: #df6442;
} */

/* a:active {  */
  /* selected link */
  /* color: #994c30; */
/* } */

a:hover,
a:focus {
  /* color: #a62417; */
  /* text-decoration: underline; */
  /* Underlining when hovering over a link */
}



.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  /* background-color: #d63314; */
  color: #4a4a4a; /* needed to override the default link color */
  font-weight: 400;
  padding: 15px 60px;
  border-radius: 100px;
  border: 2px solid #4a4a4a; /* width of the border, type, color */
  transition: 1s opacity;
  -webkit-transition: all .5s ease; /* Safari and Chrome */
  -moz-transition: all .5s ease; /* Firefox */
  -ms-transition: all .5s ease; /* IE 9 */
  -o-transition: all .5s ease; /* Opera */
  transition: all .5s ease;
  display: inline-block;
}


.button:hover {
  /* opacity: 0.8;  */
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
  color: #ffffff;
  background-color: black;
  border: 2px solid black;
  border-radius: 100px;
}

.button-round {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  /* background-color: #d63314; */
  color: #4a4a4a; /* needed to override the default link color */
  font-weight: 400;
  padding: 13px 5px;
  border-radius: 100px;
  border: 2px solid #4a4a4a; /* width of the border, type, color */
  transition: 1s opacity;
  -webkit-transition: all .5s ease; /* Safari and Chrome */
  -moz-transition: all .5s ease; /* Firefox */
  -ms-transition: all .5s ease; /* IE 9 */
  -o-transition: all .5s ease; /* Opera */
  transition: all .5s ease;
  width:60px;
  height:60px;
  text-align:center;
}

.cover-img-top-round:hover {
  /* opacity: 0.8;  */
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
  color: #ffffff;
  background-color: black;
  border: 2px solid black;
  border-radius: 100px;
}


#linkedin-btn{
  background-image: url("../img/contact/linkedin.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 96%;
  width:48px;
  height:48px;
  -webkit-transition: all .5s ease; /* Safari and Chrome */
  -moz-transition: all .5s ease; /* Firefox */
  -ms-transition: all .5s ease; /* IE 9 */
  -o-transition: all .5s ease; /* Opera */
  transition: all .5s ease;
  display: inline-block;
  margin:20px;
}

#linkedin-btn:hover {
  background-image: url("../img/contact/linkedin_highlight.png");
}

#email-btn{
  background-image: url("../img/contact/email_line.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 96%;
  width:48px;
  height:48px;
  -webkit-transition: all .5s ease; /* Safari and Chrome */
  -moz-transition: all .5s ease; /* Firefox */
  -ms-transition: all .5s ease; /* IE 9 */
  -o-transition: all .5s ease; /* Opera */
  transition: all .5s ease;
  display: inline-block;
  margin:20px;
}

#email-btn:hover {
    background-image: url("../img/contact/email_line_highlight.png");
}




* {
  box-sizing: border-box;
}

.center {
  text-align: center;
}

.logo {
  max-width: 300px;
  display: inline-block;
}

header {
  /*background-color: white;*/
  background-color:#fdfdfd;
  padding: 10px 0;
  position: fixed;
  width: 100%;
/*  -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 2px 8px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 2px 8px 0px rgba(50, 50, 50, 0.5);*/
  z-index: 1;
}

main {
  padding-top: 133px;
}

  #hero {
    position: relative;
    height: 88vh;
  }

  .scroll_down{
    position: absolute;
    top:  auto;
    bottom:  0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .scroll_down img{
   max-width: 24px;
  }
#selected-work-title{
  display: none;
}


#hero h1{
  /*line-height:1.8;*/
}

#hero h2{
  /*line-height:1.8;*/
}




nav{
  display: inline-block;
  width: 100%;
}
nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  /* font-weight: 700; */
  color: #4a4a4a;
}
.navtoggle{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stroke{
  line-height: 1.0;
}

.navtoggle li:not(:last-child) {
  display: inline-block;
}

.navtoggle li:last-child {
  display: none;
}
/* nav > ul > li > a:visited.
nav > ul > li > a:active.
nav > ul > li > a:hover. */

/* stroke */

/*nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .2s;
}
*/
nav.stroke ul li a{
  position: relative;
}
a{
  /*transition: all .2s;*/
}
a:hover{
  color: #4B0BFF;
}
/*nav.stroke ul li a:after{
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}*/
nav.stroke ul li a:hover:after {
  width: 100%;
}
  #work-section-wrapper{
    background-color: #fff;
    padding-bottom: 160px;
  }


#work-section{
  display: flex;
  flex-wrap: wrap;
  gap: 128px;
}

#work-section-single{
  width : 82%;
  margin: 0 auto;
}

.project-wrapper{
  width : 50%;
  padding: 12px;
  position: relative;
}
.project-wrapper-single{
  width : 100%;
  padding: 12px;
  position: relative;
}

.project-wrapper-flex{
  padding: 12px;
  position: relative;
  flex-direction: row;
  display: flex;
}

.project-wrapper-wide{
  width : 100%;
  margin: 12px;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  /* min-height:800px; */
  /* height: 100%; */
  height: 44vw;
  color: black;
  -webkit-transition: all .3s ease; /* Safari and Chrome */
  -moz-transition: all .3s ease; /* Firefox */
  -ms-transition: all .3s ease; /* IE 9 */
  -o-transition: all .3s ease; /* Opera */
  transition: all .3s ease;
  /* border: 2px solid lime; */
  /* background: url(/img/5.png)repeat 0 0; */
  /* max-width: 100%; */
}
.project-wrapper-wide:hover{
  color: white;
}

.project-wrapper-wide .overlay-text{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.project-wrapper-wide .overlay-text-has-bg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  text-align: center;
  background-color: #f2f2f2;
  width: 100%;
  opacity: 0.9;
  /* max-width: 100%; */
}

.project-wrapper-wide .overlay-text-has-bg:hover{
  color: white;
  background-color: #19121c;
  /* max-width: 100%; */
}

#vrdvcover {
  /* position: relative; */
}

#vrdvcover img{
  border-radius: 25px;
  position: absolute;
  max-width: 100%;
  height:100%;
  -webkit-transition: all .5s ease; /* Safari and Chrome */
  -moz-transition: all .5s ease; /* Firefox */
  -ms-transition: all .5s ease; /* IE 9 */
  -o-transition: all .5s ease; /* Opera */
  transition: all .5s ease;
}

.vr-top:hover {
  opacity:0;
}



.project-content{
  /* color: #4a; */
  border: none;
  /* padding: 16px 32px; */
  text-align: left;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  /* background-color: #f2f2f2; */
  transition: 0.3s;
  border-radius: 12px;
}

.project-content img{
  display: block;
  /* height: 100%; */
  max-width:100%;
  margin: 0 auto;
  /* width: auto; */
}

.info-flex-l{
  flex-basis: 40%;
  padding: 108px 48px 0px 0px;
}
.info-flex-r{
  flex-basis: 40%;
  padding: 108px 0px 0px 48px;
}
.cover-flex{
  flex-basis: 60%;
}



.project-info{
  width: 96%;
  margin: 0 auto;
  padding-bottom: 48px;
}
#vrsmallcover {
  background-image: url("../img/5i.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#vrsmallcover:hover {
  background-image: url("../img/5.png");
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

#vrlargecover {
  background-image: url("../img/5il.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#vrlargecover:hover {
  background-image: url("../img/5l.png");
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

#ccmcover .project-content{
  /* color: #4a; */
  border: none;
  /* padding: 16px 32px; */
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  background-color: #f2f2f2;
  transition: 0.3s;
  border-radius: 25px;
}

.project-content h3{
  font-size: 1.8em;
  margin-block-start:0;
  margin-block-end:0;
}


.project-content:hover{
  color: white;
}

.project-text{
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* #coffeechatcover {
  background-color: #f2f2f2;
  transition: 0.3s;
  border-radius: 10px;
} */

#coffeechatcover{
  background-image: url("../img/1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#coffeechatcover:hover {
  background-color: #FFA014;
}

#coffeechatcover {
  background-color: #FFF2DE;
}

#ccmcover {
  background-color: #EDECEF;
}

#ccmcover:hover {
  background-color: #200E32;
}

#ccmcover{
  background-image: url("../img/2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#kitchencover{
  background-image: url("../img/3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#kitchencover{
  background-color: #FFE5DD;
}

#kitchencover:hover {
  background-color: #FA5316;
}

#qhcover:hover {
  background-color: #40434c;
}

#researchcover:hover {
  background-color: #0b5bff;
  /* background-color: #fec52e; */
}

#debutcover:hover {
  /* background-color: #FF0000; */
  background-color: #BB1515;
}


#eccover{
  background-color: #EBEFFF;
  background-image: url("../img/ec_cover.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#eccover:hover {
  background-color: #1b3cc2;
}

#cfcover{
  background-color: #E1E9F0;
  background-image: url("../img/coalfire_cover.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#cfcover:hover {
  background-color: #E05A32;
}



#headshot{
  max-width: 25%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
}

#headshot > picture > img {
  border-radius: 50%;
}

#my-story, #skills-tools, .introduction, .paragraph{
  /*width: 66%;*/
/*  margin-left: auto;
  margin-right: auto;*/
}
.hmw{
  /*width: 50%;*/
/*  margin-left: auto;
  margin-right: auto;*/
}

/*.research{
  width: 80%;
}*/


.about-title{
  text-align: center;
}

.hmw_section{
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;
  margin:  0 auto;
}
.hmw h3{
  line-height: 2.0;
}

.resume{
  margin: 0 auto;
  text-align: center;
  padding:60px;
  /* width: 100%; */
}

.title{
  text-align: left;
  padding: 150px 0 150px 0;
  font-size: 24px;
}

.title-expl{
  text-align: center;
  margin: 60px 0 30px 0 ;
  font-size: 20px;
}

.explore_title, .section-title, .section-subtitle{
  margin: 0 auto;
  text-align: center;

}

/* .section-title{
  padding-top: 60px;
} */



/* .quote{

} */


section {
  margin-top: 90px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}
.objective{
  padding-bottom: 30px;
}
.subsection{
  margin-top: 30px;
  margin-bottom: 90px;
}

.footer-title{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.footer-title h2{
  margin-bottom: 16px;
}
.contact-btns{
  text-align: center;
  margin: 0 auto;
}
/* .contact-btns a svg{
  width:50px;
  margin: 0 20px;
} */


footer{
  width:100%;
  display: block;
  margin:0;
  background-color: black;
  color:white;
  border:solid black;
  padding-top: 64px;
}



@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.prototype-container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

 #updating_img{
     max-width:30%; 
     margin: 0 auto;
 }



.clickable{
  width: 100%;
  /* width: 1080px; */
  height: 720px;

  /* position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none; */
}
/* .svg { width:100%; } */

/* .sub-title h3{
  margin-bottom: 10px;
} */


/* ==============================
Small screens up to 640px
================================= */
@media only screen and (max-width: 640px) {

  main{
      /* background-color: yellow; */
    padding-top:30px;
  }

  .container{
    margin:  0 20px;
  }
  .case-study-container{
    margin:  0 20px;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  header {
    /* text-align: unset; */
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    /* margin-top: 4px; */
  }

  .title{
    text-align: left;
    padding: 90px 0 30px 0;
    font-size: 24px;
  }

  nav > ul {
    margin: 0;
  }

/*  .navtoggle li:not(:last-child) {
    display: none;
  }
  .navtoggle li:last-child {
    display: inline-block;
  }
  .navtoggle, .navtoggle.responsive {
    position: relative;
  }

  .navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 4px;
    color: black;
  }

  .navtoggle.responsive li  {
    display: block;
  }

  .navtoggle.responsive nav {
    padding: 24px 0 0;
  }

  .navtoggle.responsive li  {
    display: block;
    padding: 10px 0;
    border-top: 1px solid rgba(255,127,80,0.5);
  }

  .navtoggle.responsive li:last-child  {
    padding: 0 0 10px;
  }*/

  body{
    font-weight: 400;
    font-size: 12px;
    /* background-color: green; */
  }

  section {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  #hero {
    position: relative;
    height: auto;
  }

  .scroll_down{
    display:  none;
  }

  #selected-work-title{
   display: block;
   margin-bottom: 0;
   text-align: center;
   width:  100%;
   margin-bottom: 24px;
 } 

  .project-info h3{
    /* text-align: center; */
  }

  .subsection{
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .sub-title, .subsub-title{
    text-align: center;
  }

  .project-info{
    order: 1;
    width: 100%;
    padding-top: 24px;
    padding-left: 0;
    padding-right: 0;
  }

  .project-wrapper-flex{
    flex-direction: column;
  }


  
  #work-section{
    gap: 0px;
  }

  #work-section-wrapper{
    background-color: #f6f6f6;
    padding-bottom: 0px;
  }



  #additional_text{
    display:  none;
  }
  /* .section-title{
    text-align: left;
    width:92%;
  } */

  #hero .container h1{
    font-weight: 200;
    /*font-size: 17px;*/
    /* background-color: green; */
  }

  h2{
    margin-top: 8px;
  }

  .project-wrapper-flex{
    padding-left:  0px;
    padding-right: 0px;
  }

  .logo{
      /*margin: 0 auto;*/
      /* display: inline-block; */
      max-width: 150px;
      /* padding: 10px 0 4px; */
  }

  .hero-flex{
    flex-direction: column;
  }
  .hero-text{
   width: 100%;
   padding-top: 64px;
  }
  .hero-img{
   padding-left: 0px;
   padding-top: 24px;
   padding-bottom: 64px;
   width: 80%;
  }



  #my-story, #skills-tools, .introduction, .paragraph, .hmw{
    /*width: 92%;*/
  }

  .project-wrapper{
    width : 100%;
    padding: 12px;
    position: relative;
  }


  #vrdvcover img{
    border-radius: 25px;
    /* position:static; */
    /* -o-object-fit: contain; */
    object-fit: cover;
    height: 100%;
  }

  .project-wrapper-wide{
    width : 100%;
    margin: 12px;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    height: 96vw;
    color: white;
  }

  .project-wrapper{
    /* color: white; */

  }
  .project-wrapper h3{
    font-size: 1.35em;
  }
  .project-wrapper p{
    font-size: 1em;
  }
  .project-wrapper-wide .overlay-text{
    font-size: 16px;
    width: 80%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .project-wrapper-wide .overlay-text h3{
    font-size: 1.35em;
  }
  .project-wrapper-wide .overlay-text p{
    font-size: 1em;
  }


  .vr-top{
    opacity:0;
  }

#vrsmallcover {
  /*background-image: url("../img/5i.png");*/
  background-image: url("../img/5.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*#vrsmallcover:hover {
  background-image: url("../img/5.png");
}*/

#vrlargecover {
  /*background-image: url("../img/5il.png");*/
  background-image: url("../img/5l.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*#vrlargecover:hover {
  background-image: url("../img/5l.png");
}*/

#ccmcover .project-content{
  /* color: #4a; */
  border: none;
  /* padding: 16px 32px; */
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  background-color: #f2f2f2;
  transition: 0.3s;
  border-radius: 25px;
}

.project-content h3{
  font-size: 1.8em;
  margin-block-start:0;
  margin-block-end:0;
}


.project-content:hover{
  color: white;
}

.project-text{
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#coffeechatcover {
  /*background-color: #FFF2DE;*/
  background-color: #FFA014;
}

#ccmcover {
  /*background-color: #EDECEF;*/
  background-color: #200E32;
}

#kitchencover{
  /*background-color: #FFE5DD;*/
  background-color: #FA5316;
}

#eccover{
  /*background-color: #EBF5FF;*/
  background-color: #1b3cc2;
}

#cfcover{
  /*background-color: #E1E9F0;*/
  background-color: #E05A32;
}

  #qhcover {
    background-color: #40434c;
  }

  #researchcover {
    background-color: #0b5bff;
    /* background-color: #fec52e; */
  }

  #debutcover {
    /* background-color: #FF0000; */
    background-color: #BB1515;
  }

  .prototype_container{
    display: none;
  }

  .hmw{
    font-size: 0.75em;
    padding: 10px;

  }

  .hmw_section{
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .small-hero-img{
    width: 100%;
  }

  .hmw h3{
    line-height: 1.4;
  }

  .section-subtitle{
    text-align: center;
  }

  .cover-img-top{
    /*display: none;*/
  }


  #headshot{
    max-width: 50%;
  }


  #updating_notice h4{
    font-size: 17px;
  }

  #updating_img{
    max-width:50%; 
  }

  .button{
    padding: 8px 32px;
    border: 2px solid #4a4a4a;
  }  
  .button:hover{
    border: 2px solid black;
  }

  .stroke{
    font-size: 14px;
  }
}






/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) and (max-width: 1024px){
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  .container{
    margin:  0 30px;
  }
  .case-study-container{
    margin:  0 30px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .project-info{
    order: 1;
    width: 100%;
    padding-top: 32px;
    padding-left: 0;
    padding-right: 0;
  }

  #work-section{
    gap: 64px;
  }
/*
    .info-flex-r{
    padding-left: 0;
  }*/
  .project-wrapper-flex{
    flex-direction: column;
  }

  nav {
    width: auto;
    float: right;
    /* margin-top: 4px; */
  }

  nav > ul > li {
    display: inline-block;
  }

  main{
    /* background-color: yellow; */
    /* padding-top: 99px; */
        padding-top:60px;
  }

  section {
    margin-top: 90px;
    margin-bottom: 90px;
  }

  .subsection{
    margin-top: 20px;
    margin-bottom: 40px;
    /*width:92%;*/
  }

  .hero-img{
   padding-left: 0px;
  }

  .hero-img img{
    max-width: 100%;
  }




  #my-story, #skills-tools, .introduction, .paragraph, .hmw{
    /*width: 92%;*/
  }

  .sub-title, .subsub-title{
    text-align: center;
  }

  #vrdvcover img{
    border-radius: 25px;
    /* position:static; */
    /* -o-object-fit: contain; */
    object-fit: cover;
    height: 100%;
  }

  .project-wrapper-wide{
    width : 100%;
    margin: 12px;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    height: 48vw;
    color: white;
  }

  .project-wrapper{
    /* color: white; */
  }
  .project-wrapper h3{
    font-size: 1.08em;
  }
  .project-wrapper p{
    font-size: 0.82em;
  }


  .project-wrapper-wide .overlay-text{
    font-size: 16px;
    width: 80%;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .project-wrapper-wide .overlay-text h3{
    font-size: 1.08em;
  }
  .project-wrapper-wide .overlay-text p{
    font-size: 0.82em;
  }


  .vr-top{
    opacity:0;
  }


  /* #coffeechatcover {
    background-color: #FFA014;
  }

  #ccmcover {
    background-color: #ae39f2;
  }

  #kitchencover {
    background-color: #74a30e;
  } */

  #qhcover {
    background-color: #40434c;
  }

  #researchcover {
    background-color: #0b5bff;
    /* background-color: #fec52e; */
  }

  #debutcover {
    /* background-color: #FF0000; */
    background-color: #BB1515;
  }
  .cover-img-top{
    /*display: none;*/
  }

  .button{
    padding: 8px 32px;
    border: 2px solid #4a4a4a;
  }  
  .button:hover{
    border: 2px solid black;
  }  

  #work-section-wrapper{
    background-color: #fff;
    padding-bottom: 90px;
  }

    .title{
    text-align: left;
    padding: 90px 0 30px 0;
    font-size: 24px;
  }
}

/* ==============================
Smaller devices (1440px or smaller)
================================= */
@media only (min-width: 1024px) and (max-width: 1440px) {
/*  .info-flex-r{
    padding-left: 0;
  }*/

  .hero-img{
   padding-right: 0;
   padding-left: 64px;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 17px; 
    /* Sets the font size to 16px */
  }
  #hero span {
    display: block;
  }
  .container h1 {
    font-weight: 400;
  }
  #hero h3 {
    font-weight: 400;
  }


  .subsection{
    margin-top: 20px;
    margin-bottom: 40px;
  }


  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    /* margin-top: 4px; */
  }

  nav > ul > li {
    display: inline-block;
  }
  main{
    /* background-color: yellow; */
    padding-top: 60px;
  }
}



/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1680px) {
  body {
    font-size: 17px; /* Sets the font size to 16px */
  }
 .container {
    /*padding: 0 10%;*/
     max-width: 1440px; 
     margin:  0 auto;
  }

  .case-study-container{
    max-width: 1440px; 
    margin:  0 auto;
    padding-top: 64px;
    padding-bottom: 64px;
  }

  #hero span {
    display: block;
  }
}
